
:root {
    --mainBg:#05081c; 
    --secondaryBg: #0a0d36;

    --mainColor: white;
    --secondaryColor: lightgrey;

    --borderColor: #131e6b;

    --previewBoxBg: rgba(5, 8, 28, 0.5);
    --previewShadowColor: #0a0d36;
}
