:root {
    --mainBg: white;
    --secondaryBg: #E8E8E8;

    --mainColor: black;
    --secondaryColor: #E8E8E8;

    --borderColor: lightgrey;

    --previewShadowColor: lightgoldenrodyellow;
}

.main-container {
    margin-bottom: 200px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body * {
    transition: 0.2s;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--mainColor);
    font-weight: 500;
    font-family: Georgia, serif;
}


/* Intro Section */
.intro {
    background-color: var(--secondaryBg);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.intro-title {
    color: var(--mainColor);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

.intro-body {
    background-color: var(--mainBg);
    border: 2px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
}

.intro-nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    padding: 7px;
    background-color: var(--secondaryBg);
    border-radius: 5px 5px 0 0;
}

.dots-parent {
    display: flex;
}

.dots-parent div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 3px 5px;
    opacity: 0.7;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.intro-nav a {
    text-decoration: none;
    color: lightseagreen;
    padding-right: 5px;
}

.dot-1 {
    background-color: red;
}

.dot-2 {
    background-color: yellow;
}

.dot-3 {
    background-color: green;
}

.intro-content {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 870px) {
    .intro-content {
        display: flex;
        flex-direction: column;
    }
}

.theme-settings {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-settings > img {
    border: 2px solid var(--borderColor);
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.theme-settings > h3 {
    margin: 20px 0;
}

.theme-dots {
    display: flex;
}

.theme-dots > div {
    width: 30px;
    height: 30px;
    border: 3px solid var(--mainColor);
    border-radius: 50%;
    margin: 0 5px 15px 5px;
    opacity: 0.9;
}

.theme-dots > div:hover {
    border: 5px solid var(--mainColor);
    margin: 0 3px 11px 3px;
}

.theme-dot-1 {
    background-color: white;
}

.theme-dot-2 {
    background-color: black;
}

.theme-dot-3 {
    background-color: lightgreen;
}

.theme-dot-4 {
    background-color: purple;
}

.theme-settings > p {
    font-size: 12px;
    color: grey;
}

.preview {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 870px) {
    .preview {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
}

.preview-box {
    text-align: justify;
    width: 300px;
    height: 120px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid lightseagreen;
    padding: 20px;
    position: relative;
}

.preview-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.preview-dot {
    width: 8px;
    height: 8px;
    border: 1px solid lightseagreen;
    border-radius: 50%;
    position: absolute;
    background-color: white;
}

.tl-dot {
    top: -5px;
    left: -5px;
}

.tr-dot {
    top: -5px;
    right: -5px;
}

.br-dot {
    bottom: -5px;
    right: -5px;
}

.bl-dot {
    bottom: -5px;
    left: -5px;
}

.preview-shadow {
    width: 300px;
    height: 120px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: var(--previewShadowColor);
}

@media screen and (max-width: 576px) {
    .preview-box {
        width: 200px;
        height: auto;
        margin-right: 30px;
    }

    .preview-shadow {
        width: 200px;
        height: auto;
        margin-right: 30px;
    }
}


/* About Section */
.about {
    width: 90%;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    background-color: var(--mainBg);
}

@media screen and (max-width: 870px) {
    .about {
        grid-template-columns: 1fr;
    }
    .right-column {
        margin-top: 50px;
    }
}

.more-about {
    border-bottom: 2px solid var(--borderColor);
}

.more-about h3 {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.more-about p {
    margin: 20px 0 10px;
    text-indent: 20px;
    text-align: justify;
}

.expertise {
    border-bottom: 2px solid var(--borderColor);
}

.expertise h3 {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.expertise p {
    margin: 20px 0 0;
    text-align: justify;
}

.expertise a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: lightseagreen;
    margin-top: 5px;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadowColor);
    padding: 15px;
    font-weight: bold;
}

.skills div > div {
    margin: 5px 0;
}

.right-column {
    text-align: center;
}

.right-column img {
    width: 100%;
    height: 70%;
    border: 1px solid var(--borderColor);
}

.right-column h2 {
    margin: 40px 0 15px;
    font-weight: bold;
}

.right-column > div {
    font-size: 14px;
}

.right-column > div > a {
    text-decoration: none;
    color: lightseagreen;
}