:root {
    --mainBg: white;
    --secondaryBg: #E8E8E8;

    --mainColor: black;
    --secondaryColor: #E8E8E8;

    --borderColor: lightgrey;

    --previewShadowColor: lightgoldenrodyellow;
}


* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body * {
    transition: 0.2s;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--mainColor);
    font-weight: 500;
    font-family: Georgia, serif;
}


/* Intro Section */
.intro {
    background-color: var(--secondaryBg);
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.intro-title {
    color: var(--mainColor);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

.intro-body {
    background-color: var(--mainBg);
    border: 2px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
}

.intro-nav {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    padding: 7px;
    background-color: var(--secondaryBg);
    border-radius: 5px 5px 0 0;
}

.dots-parent {
    display: flex;
}

.dots-parent div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 3px 5px;
    opacity: 0.7;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.intro-nav a {
    text-decoration: none;
    color: lightseagreen;
    padding-right: 5px;
}

.dot-1 {
    background-color: red;
}

.dot-2 {
    background-color: yellow;
}

.dot-3 {
    background-color: green;
}

.intro-content {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 870px) {
    .intro-content {
        display: flex;
        flex-direction: column;
    }
}

.theme-settings {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-settings > img {
    border: 2px solid var(--borderColor);
    width: 230px;
    height: 230px;
    object-fit: cover;
}

.theme-settings > h3 {
    margin: 20px 0;
}

.theme-dots {
    display: flex;
}

.theme-dots > div {
    width: 30px;
    height: 30px;
    border: 3px solid var(--mainColor);
    border-radius: 50%;
    margin: 0 5px 15px 5px;
    opacity: 0.9;
}

.theme-dots > div:hover {
    border: 5px solid var(--mainColor);
    margin: 0 3px 11px 3px;
}

.theme-dot-1 {
    background-color: white;
}

.theme-dot-2 {
    background-color: black;
}

.theme-dot-3 {
    background-color: lightgreen;
}

.theme-dot-4 {
    background-color: purple;
}

.theme-settings > p {
    font-size: 12px;
    color: grey;
}

.preview {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 870px) {
    .preview {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
}

.preview-box {
    text-align: justify;
    width: 300px;
    height: 120px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid lightseagreen;
    padding: 20px;
    position: relative;
}

.preview-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.preview-dot {
    width: 8px;
    height: 8px;
    border: 1px solid lightseagreen;
    border-radius: 50%;
    position: absolute;
    background-color: white;
}

.tl-dot {
    top: -5px;
    left: -5px;
}

.tr-dot {
    top: -5px;
    right: -5px;
}

.br-dot {
    bottom: -5px;
    right: -5px;
}

.bl-dot {
    bottom: -5px;
    left: -5px;
}

.preview-shadow {
    width: 300px;
    height: 120px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: var(--previewShadowColor);
}

@media screen and (max-width: 576px) {
    .preview-box {
        width: 200px;
        height: auto;
        margin-right: 30px;
    }

    .preview-shadow {
        width: 200px;
        height: auto;
        margin-right: 30px;
    }
}


/* About Section */
.about {
    width: 90%;
    padding: 50px 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    background-color: var(--mainBg);
}

@media screen and (max-width: 870px) {
    .about {
        grid-template-columns: 1fr;
    }
    .right-column {
        margin-top: 50px;
    }
}

.more-about {
    border-bottom: 2px solid var(--borderColor);
}

.more-about h2 {
    margin: 10px 0;
    font-weight: bold;
}

.more-about p {
    margin: 20px 0 10px;
    text-indent: 20px;
    text-align: justify;
}

.expertise {
    border-bottom: 2px solid var(--borderColor);
}

.expertise h2 {
    margin: 10px 0;
    font-weight: bold;
}

.expertise p {
    margin: 20px 0 0;
    text-align: justify;
    text-indent: 20px;
}

.expertise a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: lightseagreen;
    margin-top: 5px;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadowColor);
    padding: 15px;
    font-weight: bold;
}

.skills div > div {
    margin: 5px 0;
    color: var(--mainColor);
    opacity: 0.8;
}

.right-column {
    text-align: center;
}

.right-column img {
    width: 100%;
    height: 70%;
    border: 1px solid var(--mainColor);
}

.right-column h2 {
    margin: 40px 0 15px;
    font-weight: bold;
}

.right-column > div {
    font-size: 14px;
}

.right-column > div > a {
    text-decoration: none;
    color: lightseagreen;
}


/* Projects Section */
.projects {
    width: 90%;
    padding: 50px 5%;
    background-color: var(--secondaryBg);
}

.projects h2 {
    margin: 0 0 30px;
    text-align: center;
    font-weight: bold;
}

.posts-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
}

.post {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 5px;
}

.post-body {
    padding: 10px;
}

.post img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.post h3 {
    font-weight: bold;
    margin: 0 0 15px;
}

.post p {
    font-size: 15px;
    margin-bottom: 10px;
    color: gray;
    height: 55px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post a {
    display: inline-block;
    text-decoration: none;
    color: lightseagreen;
    font-size: 15px;
    margin-bottom: 10px;
}


/* Contact Section */
.contact {
    padding: 50px 5%;
    background-color: var(--mainBg);
}

.contact h2 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.contact form {
    width: 50%;
    margin: auto;
    background-color: var(--secondaryBg);
    padding: 30px 30px 5px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}

.contact form > div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    .contact form {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .contact form > div {
        grid-template-columns: 1fr;
    }
}

.contact form label {
    margin-bottom: 3px;
}

.contact form input, textarea {
    padding: 5px;
    border: 2px solid var(--borderColor);
    border-radius: 3px;
    transition: 0s;
}

.contact form textarea {
    resize: vertical;
}

.contact form input:focus, textarea:focus {
    border: 2px solid var(--previewShadowColor);
    outline: 1px solid var(--previewShadowColor);
}

.btn-div {
    display: flex !important;
    justify-content: flex-end !important;
}

.btn-div button {
    display: block;
    padding: 5px 20px;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    border-radius: 5px;
    cursor: pointer;
}

.btn-div button:hover {
    background-color: var(--secondaryColor);
    color: var(--mainColor);
}